[submodule "Resources/js/lib/vendor/joli.js"]
	path = Resources/js/lib/vendor/joli.js
	url = git://github.com/xavierlacot/joli.js.git
[submodule "Resources/js/lib/vendor/redux"]
	path = Resources/js/lib/vendor/redux
	url = https://github.com/dawsontoth/Appcelerator-Titanium-Redux.git
